
<header>
        <div class="container header-container">
            <a href="/" class="logo">
                <i class="fas fa-cocktail"></i> Мир Коктейлей
            </a>
            <nav>
                <ul>
                    <li><a href="/" class={{main}}><i class="fas fa-home"></i> Главная</a></li>
                    <li><a href="/IBA/page-1/?type=unforgettable" class={{IBA}}><i class="fas fa-award"></i> Список IBA</a></li>
                    <li><a href="/list/page-1/?type=all&search=" class={{list}}><i class="fas fa-list"></i> Список коктейлей</a></li>
                    <li><a href="/contacts" class={{contact}}><i class="fas fa-address-book"></i> Контакты</a></li>
                </ul>
            </nav>
        </div>
</header>