        <footer>
                <div class="container footer-content">
                    <div class="footer-logo">Мир Коктейлей</div>
                    <div class="footer-links">
                        <a href="/">Главная</a>
                        <a href="/IBA/page-1/?type=unforgettable">Список IBA</a>
                        <a href="/contacts">Контакты</a>
                        <a href="/">О нас</a>
                    </div>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
        </footer>
